<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<%= render "playgrounds/header"%>

<div class="container">
    <div class="row">
        <div id="tab" class="text-center">
            <div class="btn-group" role="group">
                <%= link_to '친구들', friends_playgrounds_path, class:"btn btn-default active" %>
                <%= link_to '자유롭게', list_playgrounds_path(0), class:"btn btn-default" %>
                <%= link_to '아이디어', list_ideas_path(0), class:"btn btn-default" %>
            </div>
        </div>
        <hr class="small light-gray">


        <div id="team" class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="each-team">
                <% @members.each do |hash, key| %>
                <h2><%= hash %>조</h2>
                <hr class="primary">
                <div class="row text-center">
                    <% key.each do |u| %>
                        <div class="col-lg-2 col-xs-4">
                            <div class="each-member">
                            <%= link_to members_scraps_path(u.id) do %>
                                <img src="<% if u.profile.url.nil? %><%= image_url('team/lion.png') %><% else %><%= u.profile.url %><% end %>" class="img-circle">
                                <%= u.name %>
                            <% end %>

                            </div>
                        </div>
                    <% end %>
                </div>

                <div class="progress">
                  <div class="progress-bar progress-bar-danger progress-idea" role="progressbar" aria-valuenow="<%= @counts['ideas'][hash.to_i] %>" aria-valuemin="0" aria-valuemax="1<%= @counts['ideas'].max %>" style="min-width: 4em; width: <% if @counts['ideas'][hash.to_i].nil? %><% else %><%= (@counts['ideas'][hash.to_i]*50).to_f/@counts['ideas'].max.to_f %><% end %>%;">
                    <c><%= @counts['ideas'][hash.to_i] %>개</c><e>아이디어</e>
                  </div>
                  <div class="progress-bar progress-bar-warning progress-scrap" role="progressbar" aria-valuenow="<%= @counts['scraps'][hash.to_i] %>" aria-valuemin="0" aria-valuemax="<%= @counts['scraps'].max %>" style="min-width: 4em; width: <% if @counts['scraps'][hash.to_i].nil? %><% else %><%= (@counts['scraps'][hash.to_i]*50).to_f/@counts['scraps'].max.to_f %><% end %>%;">
                    <c><%= @counts['scraps'][hash.to_i] %>개</c><e>스크랩</e>
                  </div>
                </div>

                <% end %>
            </div>

        </div>
    </div>
</div>