<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<%= render "playgrounds/header"%>

<div class="container">
    <div class="row">
        <div id="tab" class="text-center">
            <div class="btn-group" role="group">
                <%= link_to '친구들', friends_playgrounds_path, class:"btn btn-default" %>
                <%= link_to '자유롭게', list_playgrounds_path(0), class:"btn btn-default" %>
                <%= link_to '아이디어', list_ideas_path(0), class:"btn btn-default active" %>
                <%= link_to '스크랩', list_scraps_path(0), class:"btn btn-default" %>

            </div>
        </div>
        <hr class="small light-gray">

         <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="text-center">
                <%= "총 "+(((@count-1)/10)+1).to_s+"장 중, "+(params[:id].to_i+1).to_s+"번째 장"%>
            </div>
            <hr class="small third">
            <% @idea.each do |p| %>
            <div class="post-preview">
                <%= link_to idea_path(p.id) do %>
                    <h2 class="post-title">
                        <%= p.title %>
                    </h2>
                <% end %>
                <p class="post-meta"><a href="mailto:<%= p.user.email %>" style="font-style:normal"><%= p.user.name %></a> 아이디어, <%= p.created_at.in_time_zone(9).strftime("%Y년 %m월 %d일 %H시 %M분") %>, <%= p.hits %>번 읽힘. 댓글 <%= p.comments.count %>개.</p>
            </div>
            <hr>
            <% end %>

            <!-- Pager -->
            <ul class="pager">
                <%if params[:id].to_i>0%>
                    <li class="previous">
                        <%= link_to list_ideas_path(params[:id].to_i-1) do %>&larr; 이전<% end %>
                    </li>
                <% else %>
                    <li class="previous disabled">
                        <a>&larr; 이전</a>
                    </li>
                <% end %>

                <%= link_to '새 아이디어', new_idea_path, class:"btn btn-default" %>

                <%if params[:id].to_i==(@count-1)/10%>
                    <li class="next disabled">
                        <a>다음 &rarr;</a>
                    </li>
                <% else %>
                    <li class="next">
                        <%= link_to list_ideas_path(params[:id].to_i+1) do %>다음 &rarr;<% end %>
                    </li>
                <% end %>
            </ul>
        </div>





    </div>
</div>
