<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('<%= image_url('main.png')%>')">
    <div class="site-heading">
        <h1>멋쟁이 사자처럼</h1>
        <hr class="small">
        <span class="subheading">경북대학교</span>
    </div>
</header>

<section id="about">
    <div class="container">
        <div class="row">

            <div class="col-xs-12 text-center">
                <h2 class="section-heading">멋쟁이 사자처럼?</h2>
                <hr class="small primary">
            </div>

            <div class="col-sm-12 text-center about-text">
                <p>'멋쟁이 사자처럼'은 대학생들에게 <b>컴퓨터 프로그래밍</b>을 가르쳐주고,<br>자신의 아이디어를 직접 <b>웹 서비스로 구현</b>할 수 있도록 도와주는 동아리입니다.</p>
                <p>2013년 32명을 시작으로 2014년에 200여 명, 2015년에는 500여 명으로 성장하였습니다.</p>
                <p>올해는 <b>1,000명</b>을 선발하며, '<b>전국의 모든 대학생(대학원생, 휴학생 포함)</b>'을 대상으로 합니다.</p>
                <h2>자세한 내용은 공식 홈페이지 <a href="http://likelion.net" target="_blank" class="btn btn-default">멋쟁이 사자처럼</a>에서</h2>
            </div>

        </div>
    </div>
</section>

<section id="team">
    <div class="container">
        <div class="row">

            <div class="col-xs-12 text-center">
                <h2 class="section-heading">멋사, 경북대?</h2>
                <hr class="small primary">
            </div>

            <div class="col-sm-12 text-center about-text">
                <p>'멋쟁이 사자처럼 at 경북대학교'는 '멋쟁이 사자처럼'에서 파생된 '<b>경북대학교만을 위한 멋쟁이 사자처럼</b>'입니다.</p>
                <p>'멋쟁이 사자처럼' 3기(2015년) 과정을 수료한 학생들이 결성하였으며,<br>
                아주 기본적인 커리큘럼과 일정은 '멋쟁이 사자처럼'을 따라가지만<br>독자적으로 활동하는 동아리의 형태로 운영됩니다.</p>
            </div>

        </div>
    </div>
</section>


<section id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">

            <div class="col-xs-12 text-center">
                <h2 class="section-heading">멋사, 경북대가 만든</h2>
                <hr class="small primary">
            </div>

            <div class="col-lg-4 col-sm-6">
                <a href="http://ifnill.com" target="_blank" class="portfolio-box">
                    <img src="<%= image_url('portfolio/ifnill.png') %>" class="img-responsive" alt="ifnill">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category">
                                버킷리스트 크라우드 펀딩
                            </div>
                            <div class="project-name">
                                ifnill
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            
            <div class="col-lg-4 col-sm-6">
                <a href="http://knucircle.com" target="_blank" class="portfolio-box">
                    <img src="<%= image_url('portfolio/knucircle.png') %>" class="img-responsive" alt="ifnill">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category">
                                경북대학교 동아리 커뮤니티
                            </div>
                            <div class="project-name">
                                KNUCircle
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-sm-6">
                <a target="_blank" class="portfolio-box">
                    <img src="<%= image_url('portfolio/pure.png') %>" class="img-responsive" alt="ifnill">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category">
                                나만의 스페셜티 카페
                            </div>
                            <div class="project-name">
                                PURE
                            </div>
                        </div>
                    </div>
                </a>
            </div>
       

            
        </div>
    </div>
</section>


<section id="operator">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2 class="section-heading">운영진</h2>
                <hr class="small primary">
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12 text-center">
                <img class="img-responsive" src="<%= image_url('team/chulhee.png')%>">
                <h2>임철희</h2>
                <hr class="small gray">
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12 text-center">
                <img class="img-responsive" src="<%= image_url('team/junwoo.png')%>">
                <h2>황준우</h2>
                <hr class="small gray">
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12 text-center">
                <img class="img-responsive" src="<%= image_url('team/chanha.png')%>">
                <h2>류찬하</h2>
                <hr class="small gray">
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12 text-center">
                <img class="img-responsive" src="<%= image_url('team/neugum.png')%>">
                <h2>박능엄</h2>
                <hr class="small gray">
            </div>
        </div>
    </div>
</section>

<section id="apply">
    <div class="container">
        <div class="row">

            <div class="col-xs-12 text-center">
                <h2 class="section-heading">지원하기</h2>
                <hr class="small primary">
            </div>

            <div class="col-sm-12 text-center about-text">
                <h2>지원은 공식 홈페이지 <a href="http://likelion.net" target="_blank" class="btn btn-default">멋쟁이 사자처럼</a>에서</h2>
                <p>학교 선택시 경북대학교를 선택해주세요.</p>
            </div>

        </div>
    </div>
</section>