<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('<%= image_url('home-bg.jpg')%>')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>ZZULU</h1>
                    <hr class="small">
                    <span class="subheading">A simple little idea that will change everything.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            
            <% @post.each do |p| %>
            <div class="post-preview">
                <a href="/post/<%= p.id %>">
                    <h2 class="post-title">
                        <%= p.title %>
                    </h2>
                    <!-- <h3 class="post-subtitle">

                    </h3> -->
                </a>
                <p class="post-meta">Posted by <a href="mailto:<%= p.user.email %>"><%= p.user.name %></a> on <%= p.created_at.in_time_zone(9).strftime("%B %d, %Y") %></p>
            </div>
            <hr>
            <% end %>

            <!-- Pager -->
            <ul class="pager">
                <li class="next">
                    <a href="/post/list/0">More &rarr;</a>
                </li>
            </ul>
        </div>
    </div>
</div>