<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('<%= image_url('post-bg.png')%>')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Edit</h1>
                    <hr class="small">
                    <span class="subheading">Change your post.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container" style="text-align: center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			<%= bootstrap_form_for(@post, url: {action: "update"}, method: "put") do |f| %>
	            <div class="field">
	              <%= f.text_field :title, autofocus: true, label:"제목" %>
	            </div>

	            <div class="field">
	              <%= f.text_field :sub_title, label:"부제목" %>
	            </div>

				<div class="field">
	              <%= f.text_area :context, label:"내용", style:"resize: none", rows: 15 %>
	            </div>

	            <div class="actions">
	              <%= f.submit "Edit" %>
	            </div>
	        <% end %>
	    </div>
	</div>
</div>
