<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('<%= image_url('posts-bg.png')%>')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Posts</h1>
                    <hr class="small">
                    <span class="subheading">What I want to say.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="text-center">
                <%= "Page "+(params[:id].to_i+1).to_s+" of "+(((@count-1)/10)+1).to_s%>
            </div>
            <hr class="small primary">
            <% @post.each do |p| %>
            <div class="post-preview">
                <a href="/post/<%= p.id %>">
                    <h2 class="post-title">
                        <%= p.title %>
                    </h2>
                <!--<h3 class="post-subtitle">
                        
                    </h3> -->
                </a>
                <p class="post-meta">Posted by <a href="mailto:<%= p.user.email %>" style="font-style:normal"><%= p.user.name %></a> on <%= p.created_at.in_time_zone(9).strftime("%B %d, %Y") %></p>
            </div>
            <hr>
            <% end %>

            <!-- Pager -->
            <ul class="pager">
                <%if params[:id].to_i>0%>
                    <li class="previous">
                        <a href="/post/list/<%= params[:id].to_i-1%>">&larr; Previous</a>
                    </li>
                <% else %>                
                    <li class="previous disabled">
                        <a>&larr; Previous</a>
                    </li>  
                <% end %>

                <%if params[:id].to_i==(@count-1)/10%>
                    <li class="next disabled">
                        <a>Next &rarr;</a>
                    </li>
                <% else %>
                    <li class="next">
                        <a href="/post/list/<%= params[:id].to_i+1%>">Next &rarr;</a>
                    </li>
                <% end %>
            </ul>
        </div>
    </div>
</div>