<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('<%= image_url('bg/post-work.png')%>')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>글쓰기</h1>
                    <hr class="small">
                    <span class="subheading">무엇을 말하고 싶나요?</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container" style="text-align: center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			<%= bootstrap_form_for(@post, url: {action: "create"}, method: "post") do |f| %>
	            <div class="field">
	              <%= f.text_field :title, autofocus: true, label:"제목", :required => true %>
	            </div>

	            <!-- <div class="field">

	            </div> -->

				<div class="field">
	              <%= f.text_area :context, label:"내용", style:"resize: none", rows: 15, :required => true %>
	            </div>

	            <div class="actions">
	              <%= f.submit "Write" %>
	            </div>
	        <% end %>
	    </div>
	</div>
</div>
