<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('<%= image_url('portfolio-bg.png')%>')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Add Portfolio</h1>
                    <hr class="small">
                    <span class="subheading">What were I do?</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container" style="text-align: center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			<%= bootstrap_form_for(@portfolio, url: {action: "create"}, method: "post") do |f| %>
							<div class="field">
	              <%= f.text_field :category, autofocus: true, label:"카테고리", :required => true %>
	            </div>

	            <div class="field">
	              <%= f.text_field :title, label: "제목", :required => true %>
	            </div>

	            <div class="field">
	            	<%= f.file_field :image, label: "사진", accept:"image/*", :required => true %>
	            </div>

							<div class="field">
	              <%= f.text_area :context, label:"내용", style:"resize: none", rows: 15, :required => true %>
	            </div>

	            <div class="field">
	              <%= f.text_field :date, label:"날짜", :required => true %>
	            </div>

	            <div class="field">
	              <%= f.text_field :service, label:"서비스", :required => true %>
	            </div>

	            <div class="actions">
	              <%= f.submit "Add" %>
	            </div>
	        <% end %>
	    </div>
	</div>
</div>
